<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FEMINA</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/slick-theme.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/grid.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <link href="/stylesheets/new-style.css" rel="stylesheet"/>
</head>
<body>
<h1>Indonesia News Updates</h1>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/assets/Logo-Femina.png" alt="Logo Femina"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/images/assets/bar.png" alt=""/>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="logoMobile">
                <img src="/images/assets/arr.png" class="arrMobile" alt="Logo Femina"/>
                <img src="/images/assets/Logo-Femina.png" class="logoMobile" alt="Logo Femina"/>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">HOME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/our-life" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">OUR LIFE</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/our-life">ENTERTAINMENT</a></li>
                        <li><a class="dropdown-item" href="/our-life">CAREER</a></li>
                        <li><a class="dropdown-item" href="/our-life">WOMENPRENEUR</a></li>
                        <li><a class="dropdown-item" href="/our-life">MONEY</a></li>
                        <li><a class="dropdown-item" href="/our-life">SEX & HEALTH</a></li>
                        <li><a class="dropdown-item" href="/our-life">HEALTH</a></li>
                        <li><a class="dropdown-item" href="/our-life">PROFILE</a></li>
                        <li><a class="dropdown-item" href="/our-life">POLLING & QUIZ</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">ENTERTAINMENT</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">LIVING</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">FASHION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">BEAUTY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">FOOD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">COMMUNITY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">PROMOTIONS</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <%- body %>

</div> <!-- End Container -->

<footer>
    <div class="container">
        <div class="flex">
            <div class="no-pad col-xs-12 col-sm-4">
                <div class="inside">
                    <img src="/images/assets/Logo Femina White 2.png" class="logoFooter"/>
                    <p class="mobile">Jl. Mampang Prapatan Raya No 75 <br/>Jakarta 12790 Indonesia</p>
                    <div class="footer-sosmed flex">
                        <a href=""><img src="/images/assets/IG 1.png"></a>
                        <a href=""><img src="/images/assets/FB 1.png"></a>
                        <a href=""><img src="/images/assets/YT 1.png"></a>
                        <a href=""><img src="/images/assets/TWT 1.png"></a>
                        <a href=""><img src="/images/assets/PINTEREST 1.png"></a>
                    </div>
                    <div class="subscriber flex">
                        <input type="text" value="" placeholder=""/>
                        <button>SUBSCRIBE</button>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="inside bottom-nav flex">
                    <div class="col-xs-12 col-sm-6">
                        <ul>
                            <li><a href="">ABOUT</a></li>
                            <li><a href="">CONTACT</a></li>
                            <li><a href="">ADVERTISE</a></li>
                            <li><a href="">PARTNERSHIP</a></li>
                            <li><a href="">PRIVACY STATEMENT</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <ul>
                            <li><a href="">OUR LIFE</a></li>
                            <li><a href="">ENTERTAINMENT</a></li>
                            <li><a href="">LIVING</a></li>
                            <li><a href="">FASHION</a></li>
                            <li><a href="">BEAUTY</a></li>
                            <li><a href="">FOOD</a></li>
                            <li><a href="">PROMOTIONS</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="inside logo-partner">
                    <img src="/images/content/Logo PDS White 2.png" alt=""/><br/>
                    <img src="/images/content/Logo Gadis White 2.png" alt=""/>
                    <img src="/images/content/Logo Ayah Bunda White 2.png" alt=""/>
                    <img src="/images/content/Logo Parenting White 2.png" alt=""/><br/>
                    <img src="/images/content/Logo Wanita Wirausaha Femina White 2.png" alt=""/>
                    <img src="/images/content/Logo Womens Leadership Network Femina White 2.png" alt=""/>
                    <img src="/images/content/Logo IWF White 2.png" alt=""/>
                    <img src="/images/content/Logo Wajah Femina White 2.png" alt=""/>
                    <img src="/images/content/Logo Dapur Uji Femina Media White 2.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="copyright">
            © 2022 PT Prana Dinamika Sejahtera. All Rights Reserved
        </div>

    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script type="text/javascript">

    const homeSlider = document.getElementById('homeSlider')

    homeSlider.addEventListener('slide.bs.carousel', event => {
        interval: 2000
        touch:true

    });

    $('.dropdown').hover(function () {
        $('.dropdown-toggle', this).trigger('click');
    });

    $(document).ready(function () {
        $('.mostView-slider').not('.slick-initialized').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        centerMode: true,
                        arrows: false,
                        infinite: true,
                        centerPadding: '55px',
                        slidesToShow: 2
                    }
                }
            ]
        });
        $('.video-slider').not('.slick-initialized').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        centerMode: true,
                        arrows: false,
                        infinite: true,
                        centerPadding: '55px',
                        slidesToShow: 2
                    }
                }
            ]
        });

        $('.womenpreneur-slider').not('.slick-initialized').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        centerMode: true,
                        arrows: false,
                        infinite: true,
                        centerPadding: '55px',
                        slidesToShow: 2
                    }
                }
            ]
        });

        $('.updateList').not('.slick-initialized').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        centerMode: true,
                        arrows: false,
                        infinite: true,
                        centerPadding: '55px',
                        slidesToShow: 2
                    }
                }
            ]
        });


        $('#eventSlide').not('.slick-initialized').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        centerMode: true,
                        arrows: false,
                        infinite: true,
                        centerPadding: '55px',
                        slidesToShow: 2
                    }
                }
            ]
        });

        /**$('#careerSlide').not('.slick-initialized').slick({
				infinite: true,
				slidesToShow: 3,
				slidesToScroll: 1,
				responsive: [
				{
				  breakpoint: 767,
				  settings: {
					centerMode: true,
					arrows: false,
					infinite: true,
					centerPadding: '55px',
					slidesToShow: 2
				  }
				}
				]
			});**/

        $('.arrMobile').click(function () {
            $('.navbar-collapse').removeClass('show');
        });
    });


</script>
</body>
</html>