<div class="our-life-ads row">
    <div class="col-md-2 desktop">
    </div>
    <div class="col-md-8 col-xs-12">
        <a href="">
            <img src="/images/content/Billboard Ads 970x250 1.png" alt="">
        </a>
    </div>
    <div class="col-md-2 desktop">
    </div>
</div>

<div class="our-life-ads row" style="margin-top: 20px">
    <div class="col-md-2 desktop">
        <img class="img-full-wh" src="/images/content/Skin Ads 1.png" alt="">
    </div>
    <div class="col-md-8 col-xs-12">
        <div class="news-detail">
            <h2 class="title-news-detail">DO’S AND DON’TS CURHAT
                SOAL PEKERJAAN DI MEDIA SOSIAL</h2>
            <p class="desc-news-detail">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua
            </p>
            <p class="txt-date">Penulis : Faunda Liswijayanti | 28 Juni 2022</p>
            <img width="100%" height="100%" src="/images/content/Header Carousel Banner 3.png" alt="">
        </div>
    </div>
    <div class="col-md-2 desktop">
        <img class="img-full-wh" src="/images/content/Skin Ads 2.png" alt="">
    </div>
</div>

<div class="our-life-ads row" style="margin-top: 20px">
    <div class="col-md-2 desktop">
    </div>
    <div class="col-md-6 col-xs-12">
        <p class="article-desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean
            massa. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium
            quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate eget,
            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
            vitae, justo. Nullam dictum felis eu pede mollis preti
        </p>
    </div>
    <div class="col-md-4 desktop">
        <img src="/images/content/Medium Rectangle Ads 300x250 3.png" alt="">
    </div>
</div>

<div id="event" class="event">
    <h2 class="title-section">Event</h2>
    <div id="eventSlide" class="event-slider">
        <div class="item col">
            <a href=""><img src="/images/content/Image Kunci Sukses 2.png" class="img-wide"/></a>
            <span class="viewCat">Beauty Tips</span>
            <p><a href="" class="titleEvent">Kunci Sukses</a></p>
            <p>Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. </p>
            <p class="dateEvent"><img src="/images/assets/Date Icon 5.png"/> 27 Juni 2022 | 02:00 PM</p>
        </div>
        <div class="item col">
            <a href=""><img src="/images/content/Image Studi Terkini Tentang Empati 2.png" class="img-wide"/></a>
            <span class="viewCat">Beauty Tips</span>
            <p><a href="" class="titleEvent">Studi Terkini Tentang Empati</a></p>
            <p>Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. </p>
            <p class="dateEvent"><img src="/images/assets/Date Icon 5.png"/> 27 Juni 2022 | 02:00 PM</p>
        </div>
        <div class="item col">
            <a href=""><img src="/images/content/Image Nyaman di Tempat Kerja 2.png" class="img-wide"/></a>
            <span class="viewCat">Beauty Tips</span>
            <p><a href="" class="titleEvent">Nyaman di Tempat Kerja</a></p>
            <p>Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. </p>
            <p class="dateEvent"><img src="/images/assets/Date Icon 5.png"/> 27 Juni 2022 | 02:00 PM</p>
        </div>
    </div>
</div>

<div class="our-life-ads row" style="margin-top: 20px">
    <div class="col-md-2 desktop">
    </div>
    <div class="col-md-6 col-xs-12">
        <img src="/images/content/Image Article Banner 1.png" width="100%" alt="">
        <p class="article-desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean
            massa. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium
            quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate eget,
            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
            vitae, justo. Nullam dictum felis eu pede mollis preti
        </p>
        <p class="article-desc" style="margin-top: 30px">
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean
            massa. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium
            quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate eget,
            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
            vitae, justo. Nullam dictum felis eu pede mollis preti
        </p>
    </div>
    <div class="col-md-4 desktop">
        <img src="/images/content/Ads 300x600 2.png" alt="">
    </div>

    <div class="col-md-2 desktop">
    </div>
    <div class="col-md-6 col-xs-12">
        <img src="/images/content/Image Article Banner 1.png" width="100%" alt="">
    </div>
    <div class="col-md-4 desktop">
        <img src="/images/content/Medium Rectangle Ads 300x250 4.png" alt="">
    </div>
</div>

<div class="bilboardAds" style="margin-top: 10px">
    <a href="">
        <img src="/images/content/Ads 970x90 1.png" alt=""/>
    </a>
</div>

<div class="our-life-womenpreneur row no-pad-mobile" style="margin-top: 40px">
    <div class="col-md-2 desktop">
    </div>
    <div class="col-md-6 col-xs-12 row">
        <div class="title-news desktop">
            <h2 class="title-section">More From</h2>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card-item-news row side">
                <div class="col-md-12 col-xs-6">
                    <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                </div>
                <div class="col-md-12 col-xs-6 no-pad">
                    <p class="category-item">Womenpreneur</p>
                    <p class="title-item">Kesehatan Mental Setelah
                        Masa Covid</p>
                    <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit. Aenean commodo ligula eget
                        dolor. Aenean massa. <span>Read More</span></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card-item-news row side">
                <div class="col-md-12 col-xs-6">
                    <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                </div>
                <div class="col-md-12 col-xs-6 no-pad">
                    <p class="category-item">Womenpreneur</p>
                    <p class="title-item">Kesehatan Mental Setelah
                        Masa Covid</p>
                    <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit. Aenean commodo ligula eget
                        dolor. Aenean massa. <span>Read More</span></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card-item-news row side">
                <div class="col-md-12 col-xs-6">
                    <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                </div>
                <div class="col-md-12 col-xs-6 no-pad">
                    <p class="category-item">Womenpreneur</p>
                    <p class="title-item">Kesehatan Mental Setelah
                        Masa Covid</p>
                    <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit. Aenean commodo ligula eget
                        dolor. Aenean massa. <span>Read More</span></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card-item-news row side">
                <div class="col-md-12 col-xs-6">
                    <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                </div>
                <div class="col-md-12 col-xs-6 no-pad">
                    <p class="category-item">Womenpreneur</p>
                    <p class="title-item">Kesehatan Mental Setelah
                        Masa Covid</p>
                    <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit. Aenean commodo ligula eget
                        dolor. Aenean massa. <span>Read More</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 desktop">
        <img src="/images/content/Ads 300x600 3.png" alt="">
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#eventSlide').not('.slick-initialized').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        centerMode: true,
                        arrows: false,
                        infinite: true,
                        centerPadding: '55px',
                        slidesToShow: 2
                    }
                }
            ]
        });

        $('.arrMobile').click(function () {
            $('.navbar-collapse').removeClass('show');
        });
    });


</script>