<div id="homeSlider" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#homeSlider" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#homeSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#homeSlider" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/content/CarouselBanner1.png" class="img-resposive" alt="...">
            <div class="carousel-caption">
                <div class="carousel-category">Fashion</div>
                <h5>DUH! Baju Lebaran Kena Noda Makanan!</h5>
                <p>Baju baru dan makanan enak memang menjadi esensi hari raya, tapi juga kombinasi yang
                    sering membuat was-was. Jangan khawatir! Ini tip membersihkan noda makanan
                    berminyak di baju!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/content/CarouselBanner1.png" class="img-resposive" alt="...">
            <div class="carousel-caption">
                <div class="carousel-category">Fashion</div>
                <h5>Second slide label</h5>
                <p>Baju baru dan makanan enak memang menjadi esensi hari raya, tapi juga kombinasi yang
                    sering membuat was-was. Jangan khawatir! Ini tip membersihkan noda makanan
                    berminyak di baju!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/content/CarouselBanner1.png" class="img-resposive" alt="...">
            <div class="carousel-caption">
                <div class="carousel-category">Fashion</div>
                <h5>Third slide label</h5>
                <p>Baju baru dan makanan enak memang menjadi esensi hari raya, tapi juga kombinasi yang
                    sering membuat was-was. Jangan khawatir! Ini tip membersihkan noda makanan
                    berminyak di baju!</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- End Carousel -->

<!--our-life ads-->
<div class="our-life-ads row">
    <div class="col-md-2 desktop">
        <img class="img-full-wh" src="/images/content/Skin Ads 1.png" alt="">
    </div>
    <div class="col-md-8 col-xs-12">
        <img src="/images/content/Billboard Ads 970x250 1.png" alt="">
    </div>
    <div class="col-md-2 desktop">
        <img class="img-full-wh" src="/images/content/Skin Ads 2.png" alt="">
    </div>
</div>

<br class="mobile">

<!--our-life womenpreneur-->
<div class="our-life-womenpreneur row">
    <div class="col-md-2 desktop">
    </div>
    <div class="col-md-6 col-xs-12 row margin-top-offside">
        <div class="title-news desktop">
            <h2 class="title-section">Womenpreneur</h2>
        </div>
        <div class="col-xs-6">
            <div class="card-item-news">
                <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                <p class="category-item">Womenpreneur</p>
                <p class="title-item">Kesehatan Mental Setelah
                    Masa Covid</p>
                <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget
                    dolor. Aenean massa. <span>Read More</span></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card-item-news">
                <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                <p class="category-item">Womenpreneur</p>
                <p class="title-item">Kesehatan Mental Setelah
                    Masa Covid</p>
                <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget
                    dolor. Aenean massa. <span>Read More</span></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card-item-news">
                <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                <p class="category-item">Womenpreneur</p>
                <p class="title-item">Kesehatan Mental Setelah
                    Masa Covid</p>
                <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget
                    dolor. Aenean massa. <span>Read More</span></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card-item-news">
                <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                <p class="category-item">Womenpreneur</p>
                <p class="title-item">Kesehatan Mental Setelah
                    Masa Covid</p>
                <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget
                    dolor. Aenean massa. <span>Read More</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 desktop">
        <img style="margin-top: 10px" src="/images/content/Ads 300x600 1.png" alt="">
    </div>
</div>

<div class="bilboardAds" style="margin-top: 10px">
    <a href="">
        <img src="/images/content/Leaderboard Ads 729x90 2.png" alt=""/>
    </a>
</div>

<div class="our-life-womenpreneur row" style="margin-top: 40px">
    <div class="col-md-2 desktop">
    </div>
    <div class="col-md-6 col-xs-12 row">
        <div class="col-xs-6">
            <div class="card-item-news">
                <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                <p class="category-item">Womenpreneur</p>
                <p class="title-item">Kesehatan Mental Setelah
                    Masa Covid</p>
                <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget
                    dolor. Aenean massa. <span>Read More</span></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card-item-news">
                <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                <p class="category-item">Womenpreneur</p>
                <p class="title-item">Kesehatan Mental Setelah
                    Masa Covid</p>
                <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget
                    dolor. Aenean massa. <span>Read More</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 desktop">
        <img src="/images/content/Medium Rectangle Ads 300x250 1.png" alt="">
    </div>
</div>


<div class="our-life-womenpreneur row" style="margin-top: 40px">
    <div class="col-md-2 desktop">
    </div>
    <div class="col-md-6 col-xs-12 row">
        <div class="col-xs-6">
            <div class="card-item-news">
                <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                <p class="category-item">Womenpreneur</p>
                <p class="title-item">Kesehatan Mental Setelah
                    Masa Covid</p>
                <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget
                    dolor. Aenean massa. <span>Read More</span></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card-item-news">
                <img src="/images/content/Image Kesehatan Mental Setelah Covid 1.png" alt="">
                <p class="category-item">Womenpreneur</p>
                <p class="title-item">Kesehatan Mental Setelah
                    Masa Covid</p>
                <p class="desc-item">Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget
                    dolor. Aenean massa. <span>Read More</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 desktop">
        <img src="/images/content/Medium Rectangle Ads 300x250 1.png" alt="">
    </div>
</div>