<div class="our-life-ads row">
    <div class="col-md-2 desktop">
    </div>
    <div class="col-md-8 col-xs-12">
        <a href="">
            <img src="/images/content/Billboard Ads 970x250 1.png" alt="">
        </a>
    </div>
    <div class="col-md-2 desktop">
    </div>
</div>


<div class="our-life-womenpreneur row no-pad-mobile promotion-section">
    <div class="col-md-2 desktop">
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="title-event">
            <h2 class="title-section">Event</h2>
        </div>
        <div class="col-xs-12">
            <div class="card-item-promotion row">
                <div class="col-xs-6">
                    <img class="img-full-wh" src="/images/content/Promotion Event 2 1.png" alt="">
                </div>
                <div class="col-xs-6 no-pad">
                    <p class="category-item">IG Live</p>
                    <p class="title-item">SUSU GORENG
                        KEPITING CURRY
                        SAUCE</p>
                    <hr class="line">
                    <p class="title-date">SELASA 5 JULI 2022 | 11.00 WIB</p>
                    <p class="title-location">Instagram Live</p>
                    <p class="title-location">@Feminamagazine</p>
                    <button class="btn-join">Join Now</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card-item-promotion row">
                <div class="col-xs-6">
                    <img class="img-full-wh" src="/images/content/Promotion Event 2 1.png" alt="">
                </div>
                <div class="col-xs-6 no-pad">
                    <p class="category-item">IG Live</p>
                    <p class="title-item">SUSU GORENG
                        KEPITING CURRY
                        SAUCE</p>
                    <hr class="line">
                    <p class="title-date">SELASA 5 JULI 2022 | 11.00 WIB</p>
                    <p class="title-location">Instagram Live</p>
                    <p class="title-location">@Feminamagazine</p>
                    <button class="btn-join">Join Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 desktop">
        <img src="/images/content/Ads 300x600 6.png" alt="">
        <img style="margin-top: 16px" src="/images/content/Medium Rectangle Ads 300x250 5.png" alt="">
    </div>
</div>

<div class="bilboardAds" style="margin-top: 10px">
    <a href="">
        <img src="/images/content/Ads 970x90 1.png" alt=""/>
    </a>
</div>

<div class="our-life-womenpreneur row no-pad-mobile" style="margin-top: 40px">
    <div class="col-md-2 desktop">
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="title-event desktop">
            <h2 class="title-section">Event</h2>
        </div>
        <div class="col-xs-12">
            <div class="card-item-promotion row">
                <div class="col-xs-6">
                    <img class="img-full-wh" src="/images/content/Promotion Event 2 1.png" alt="">
                </div>
                <div class="col-xs-6 no-pad">
                    <p class="category-item">IG Live</p>
                    <p class="title-item">SUSU GORENG
                        KEPITING CURRY
                        SAUCE</p>
                    <hr class="line">
                    <p class="title-date">SELASA 5 JULI 2022 | 11.00 WIB</p>
                    <p class="title-location">Instagram Live</p>
                    <p class="title-location">@Feminamagazine</p>
                    <button class="btn-join">Join Now</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card-item-promotion row">
                <div class="col-xs-6">
                    <img class="img-full-wh" src="/images/content/Promotion Event 2 1.png" alt="">
                </div>
                <div class="col-xs-6 no-pad">
                    <p class="category-item">IG Live</p>
                    <p class="title-item">SUSU GORENG
                        KEPITING CURRY
                        SAUCE</p>
                    <hr class="line">
                    <p class="title-date">SELASA 5 JULI 2022 | 11.00 WIB</p>
                    <p class="title-location">Instagram Live</p>
                    <p class="title-location">@Feminamagazine</p>
                    <button class="btn-join">Join Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 desktop">
        <img src="/images/content/Medium Rectangle Ads 300x250 5.png" alt="">
        <img style="margin-top: 16px" src="/images/content/Ads 300x600 6.png" alt="">
    </div>
</div>

<div class="bilboardAds mobile" style="margin-top: 10px">
    <a href="">
        <img src="/images/content/Ads 970x90 1.png" alt=""/>
    </a>
</div>