<div class="bilboardAds desktop" style="margin-top: 10px">
    <a href="">
        <img src="/images/content/Ads 970x90 1.png" alt=""/>
    </a>
</div>

<div class="our-life-ads row" style="margin-top: 20px">
    <div class="col-md-2 desktop">
        <img class="img-full-wh" src="/images/content/Skin Ads 1.png" alt="">
    </div>
    <div class="col-md-8 col-xs-12">
        <div class="news-detail">
            <p class="desc-news-detail">
                Femina edisi xxx
                Women Issue
            </p>
            <h2 class="title-news-detail">HAK PEREMPUAN,
                KITA SADAR TIDAK SIH?</h2>
            <p class="desc-news-detail">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua
            </p>
            <img width="100%" height="100%" src="/images/content/Header Carousel Banner 3.png" alt="">
        </div>
    </div>
    <div class="col-md-2 desktop">
        <img class="img-full-wh" src="/images/content/Skin Ads 2.png" alt="">
    </div>
</div>

<div class="our-life-ads row">
    <div class="col-md-3 desktop">
    </div>
    <div class="col-md-5 col-xs-12">
        <p class="title-article">Sang Petualang Peran</p>
        <p class="article-desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean
            massa. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium
            quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate eget,
            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
            vitae, justo. Nullam dictum felis eu pede mollis preti
        </p>
    </div>
    <div class="col-md-4 desktop">
    </div>
</div>

<div class="our-life-ads row margin-offside-right" style="margin-top: 20px">
    <div class="col-md-2 desktop">
    </div>

    <div class="col-md-8 col-xs-12 mobile">
        <div class="carousel-promotion">
            <div class="item-carousel-promotion">
                <img width="100%" src="/images/content/Image Magazine 2 1.png" alt="">
            </div>
            <div class="item-carousel-promotion">
                <img width="100%" src="/images/content/Image Magazine 2 1.png" alt="">
            </div>
            <div class="item-carousel-promotion">
                <img width="100%" src="/images/content/Image Magazine 2 1.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12 row desktop">
        <div class="col-md-4">
            <img width="100%" src="/images/content/Image Magazine 2 1.png" alt="">
        </div>
        <div class="col-md-4">
            <img width="100%" src="/images/content/Image Magazine 2 1.png" alt="">
        </div>
        <div class="col-md-4">
            <img width="100%" src="/images/content/Image Magazine 2 1.png" alt="">
        </div>
    </div>
    <div class="col-md-2 desktop">
    </div>
</div>

<div class="our-life-ads row" style="margin-top: 20px">
    <div class="col-md-3 desktop">
    </div>
    <div class="col-md-5 col-xs-12">
        <p class="title-article">Isu Utama: Memecah Langit Kaca
            Bernama Bias Gender</p>
        <p class="article-desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
            quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
            quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget Lorem ipsum dolor sit amet,
        </p>
        <img width="100%" src="/images/content/Image Magazine 5 1.png" alt="">
    </div>
    <div class="col-md-4 desktop">
        <img src="/images/content/Ads 300x600 4.png" alt="">
        <img src="/images/content/Medium Rectangle Ads 300x250 5.png" alt="" style="margin-top: 10px">
    </div>
</div>

<div class="bilboardAds" style="margin-top: 10px">
    <a href="">
        <img src="/images/content/Billboard Ads 970x250 2.png" alt=""/>
    </a>
</div>

<div class="our-life-ads row" style="margin-top: 20px">
    <div class="col-md-3 desktop">
    </div>
    <div class="col-md-5 col-xs-12">
        <img width="100%" src="/images/content/Image Magazine 5 1.png" alt="">
        <p class="title-article">Kesehatan Reproduksi Siapa
            Pegang Kendali</p>
        <p class="article-desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
            quis, sem.
        </p>
    </div>
    <div class="col-md-4 desktop">
        <img src="/images/content/Ads 300x600 4.png" alt="">
    </div>
</div>

<div class="our-life-ads row" style="margin-top: 20px">
    <div class="col-md-3 desktop">
    </div>
    <div class="col-md-5 col-xs-12">
        <p class="title-buy">
            Buy Print Edition
        </p>
        <div class="flex gap-2">
            <img src="/images/content/TOKPED 1.png" alt="">
            <img src="/images/content/SHOPEE 1.png" alt="">
            <img src="/images/content/BUKALAPAK 1.png" alt="">
            <img src="/images/content/LAZADA 1.png" alt="">
        </div>
        <p class="title-buy">
            Buy E Magazine
        </p>
        <div class="text-center">
            <img src="/images/content/GRAMEDIA 1.png" alt="">
        </div>
    </div>
    <div class="col-md-4 desktop">
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.carousel-promotion').slick({
            centerMode: true,
            arrows: false,
            infinite: true,
            slidesToShow: 2
        });
    })
</script>